<h1>Make your form here</h1>
<form action="/pirates" method="post">
  Pirate Name: <input type="text" name="pirates[name]">
  Pirate Weight: <input type="text" name="pirates[weight]">
  Pirate Height: <input type="text" name="pirates[height]">
  Course Name: <input type="text" name="student[courses][][name]">
  Course Topic: <input type="text" name="student[courses][][topic]">
  Course Name: <input type="text" name="student[courses][][name]">
  Course Topic: <input type="text" name="student[courses][][topic]">
  <input type="submit">
</form>
