<h1>Make your form here</h1>
<form method="post" action="/pirates">
  <label for="name"> Pirates Name</label>
  <input type="text" id="name" name="name">
  <label for="weight"> Pirates Weight</label>
  <input type="text" id="weight" name="weight">
  <label for="height"> Pirates Height</label>
  <input type="text" id="height" name="height">
  <input type="submit" value="submit">
</form>
