<h1>Make your form here</h1>
<form method="post" action="/pirates">
  <label for="name"> Pirates Name</label>
  <input type="text" id="name" name="name">
  <label for="weight"> Pirates Weight</label>
  <input type="text" id="weight" name="weight">
  <label for="height"> Pirates Height</label>
  <input type="text" id="height" name="height">
  <label for="ship_name_1"> Ship One Name</label>
  <input type="text" id="ship_name_1" name="ship_name_1">
  <label for="ship_type_1"> Ship One Type</label>
  <input type="text" id="ship_type_1" name="ship_type_1">
  <label for="ship_booty_1"> Ship's One Booty</label>
  <input type="text" id="ship_booty_1" name="ship_booty_1">
  <label for="ship_name_2"> Ship Two Name</label>
  <input type="text" id="ship_name_2" name="ship_name_2">
  <label for="ship_type_2"> Ship Two Type</label>
  <input type="text" id="ship_type_2" name="ship_type_2">
  <label for="ship_booty_2"> Ship's Two Booty</label>
  <input type="text" id="ship_booty_2" name="ship_booty_2">
  <input type="submit" value="submit">
</form>
